In [1]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F''G'],fill_value=0)

A      1
B      2
C      3
D      4
E    NaN
FG     0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [7]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger,method='ffill') 
#forward fills until it hits another number that exists. you can also do backwards fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])
#reshape indicates to matrix
dframe

       col1      col2      col3      col4      col5
A  0.681142  0.747549 -0.203334  0.364096  0.145547
B -0.418126 -0.176555 -1.040029 -0.107590  0.199642
D  0.887638  1.524958  0.401664  0.305418 -0.488432
E -0.653195 -1.335626 -0.286539 -0.743475  0.665479
F  1.194654  2.345360  1.080597  0.483227 -0.200004

In [13]:
#since we forgot "c", let's reindex

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [15]:
dframe2

       col1      col2      col3      col4      col5
A  0.681142  0.747549 -0.203334  0.364096  0.145547
B -0.418126 -0.176555 -1.040029 -0.107590  0.199642
C       NaN       NaN       NaN       NaN       NaN
D  0.887638  1.524958  0.401664  0.305418 -0.488432
E -0.653195 -1.335626 -0.286539 -0.743475  0.665479
F  1.194654  2.345360  1.080597  0.483227 -0.200004

In [18]:
#how to reindex specific columns
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.681142  0.747549 -0.203334  0.364096  0.145547   NaN
B -0.418126 -0.176555 -1.040029 -0.107590  0.199642   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.887638  1.524958  0.401664  0.305418 -0.488432   NaN
E -0.653195 -1.335626 -0.286539 -0.743475  0.665479   NaN
F  1.194654  2.345360  1.080597  0.483227 -0.200004   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A  0.681142  0.747549 -0.203334  0.364096  0.145547
B -0.418126 -0.176555 -1.040029 -0.107590  0.199642
D  0.887638  1.524958  0.401664  0.305418 -0.488432
E -0.653195 -1.335626 -0.286539 -0.743475  0.665479
F  1.194654  2.345360  1.080597  0.483227 -0.200004

In [22]:
dframe.ix[['A','B','C','D','E','F'],new_columns] 
#fast way to index rows and columns is to use .ix rather than indexing seperately

       col1      col2      col3      col4      col5  col6
A  0.681142  0.747549 -0.203334  0.364096  0.145547   NaN
B -0.418126 -0.176555 -1.040029 -0.107590  0.199642   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.887638  1.524958  0.401664  0.305418 -0.488432   NaN
E -0.653195 -1.335626 -0.286539 -0.743475  0.665479   NaN
F  1.194654  2.345360  1.080597  0.483227 -0.200004   NaN